* {
    box-sizing: border-box;
}

body {
    background-color: brown;
}

h1 {
    color: rgb(255, 174, 0);
}

.tablet, .desktop {
    display: none;
}

.blokk {
    width: 100%
}

.blokk img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.konteiner {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width : 600px) {
body {
    background-color: aquamarine;
}
    .tablet {
        display: block;
    }
    .mobiil {
        display: none;
    }
    .konteiner {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .blokk {
        width: 50%;
        padding: 5px;
    }
}

@media screen and (min-width : 1000px) {
   body {
       background-color: rgb(119, 119, 118);
   }
   .tablet {
       display: none;
   }
   .desktop {
       display: block;
   }
   .blokk {
       width: 33.33%
   }
}